body{
  margin: 0;
  padding: 0;
  background-image: url("../public/assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-attachment: fixed;
}
.app-bg{
  display: flex;
  flex-direction: column-reverse;
  height: 75vh;
  box-shadow: 0 -50px 100px -10px #000000 inset;
}
.app-profile{
  font-weight: 700;
  padding: 1em;
}
.app-dp{
  float: left;
  clip-path: circle(25px at center);
  margin-right: 1em;
  height: 50px;
  width: 50px;
}
.app-profile span{
  font-size: large;
  display: inline-block;
}
.app-data{
  background-color: #28333A;
  height: 1000px;
}