body{
  margin: 0;
  padding: 0;
  background-image: url("../public/assets/bg.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  color: white;
  background-attachment: fixed;
}
.app-bg{
  width: 100vw;
  display: flex;
  padding: 2em;
  flex-direction: column-reverse;
  height: 75vh;
  box-shadow: 0 -100px 100px -10px #000000 inset;
}
.app-profile{
  font-weight: 700;
  padding: 1em;
  font-size: small;
}
.app-dp{
  float: left;
  clip-path: circle(25px at center);
  margin-right: 1em;
  height: 50px;
  width: 50px;
}
.app-profile span{
  font-size: large;
  display: inline-block;
  margin-top: 5px;
}
.app-data{
  background-color: #28333A;
  width: 100vw;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 2em;
  padding-top: 10px;
  position: absolute;
  top: 80vh;
}
.pill{
  width: 50px;
  height: 5px;
  background-color: aliceblue;
  margin: 0 auto;
  border-radius: 2.5px;
}
.tag{
  background-color: #D15439;
  border-radius: 5px;
  margin-left: 2em;
  padding: 2px 10px;
  font-size: smaller;
  font-weight: 400;
}
.dish-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#415663;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 2em;
}
.dish-dp{
  clip-path: circle(40px at center);
}
.dish-2 ,.dish-3{
  /* padding-top: 1em; */
  font-weight: 500;
  line-height: 2em;
}
.dish-title{
  font-size: larger;
}
.dot{
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #D15439;
  display: inline-block;
}
.plus{
  text-align: center;
  width: 50px;
  display: inline-block;
  transform: scale(3);
}
.kcal{
  background-color: #0D1317;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  text-align: center;
}
.dishes-box{
  margin-top: 2em;
}
.hori-scroll{
  position: absolute;
  align-items: center;
  background-color: #0D1317;
  display: flex;
  overflow-x: auto;
  left: 0;
  font-size: large;
  line-height: 2em;
}
.hori-scroll div{
  flex: none;
}
.cpn-box{
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: #415663;
}
.cpn-price{
  font-size: large;
}
.cpn-dst{
  font-size: small;
}
.space{
  height: 200px;
}
.order{
  margin: 0.5em;
  border-radius: 1em;
  background-color: #D15439;
  color: #ffffff;
  width: 22em;
  height: 3em;
  font-size: large;
  font-weight: 700;
}