body{
  margin: 0;
  padding: 0;
  background-image: url("../public/assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-attachment: fixed;
}
.app-bg{
  display: flex;
  flex-direction: column-reverse;
  height: 75vh;
  box-shadow: 0 -100px 100px -10px #000000 inset;
}
.app-profile{
  transform: translateY(-20px);
  font-weight: 500;
  padding: 1em;
  font-size: small;
}
.app-dp{
  float: left;
  clip-path: circle(25px at center);
  margin-right: 1em;
  height: 50px;
  width: 50px;
}
.app-profile span{
  font-size: large;
  display: inline-block;
  margin-top: 5px;
}
.app-data{
  background-color: #28333A;
  height: 1000px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translateY(-20px);
  padding: 2em;
  padding-top: 10px;
}
.pill{
  width: 50px;
  height: 5px;
  background-color: aliceblue;
  margin: 0 auto;
  border-radius: 2.5px;
}